# ignore build directories
build*/
release*/
debug*/

# ignore CMake-generated version.hpp
src/version.hpp

# pytest stuff
__pycache__

# ccls cache directory
.ccls-cache/

# python virtual environment
env
